<launch>

  <!-- Map store parameters -->
  <arg name="pmap_files_dirpath"/>
  <arg name="octomap_files_dirpath"/>
  <arg name="cloud_in" default="cloud_in"/>
  <arg name="topomap_files_dirpath"/>

  <!-- FindViewpoint parameters -->
  <arg name="image_topic" default="image_topic"/>
  <arg name="output_files_dirpath" default="$(env HOME)"/>

  <!-- 50: fast / inaccurate, 1000: slow / accurate -->
  <arg name="fov_grid_res" default="50"/>
  <arg name="dist_factor" default="0"/>

  <arg name="camera_trans_z" default="1.5"/>
  <arg name="rect_filter_margin" default="5.0"/>
  <arg name="max_iter" default="5"/>
  <arg name="max_move_base_iter" default="5"/>
  <arg name="move_base_filter_margin" default="2.5"/>


  <!-- Map stores -->
  <node name="pmap_files_server" pkg="infobot_pmap_store" type="pmap_files_server_node" output="screen">
    <param name="pmap_files_dirpath" value="$(arg pmap_files_dirpath)" />
  </node>
  <include file="$(find infobot_octomap_store)/launch/octomap_store.launch">
    <arg name="octomap_files_dirpath" value="$(arg octomap_files_dirpath)" />
    <arg name="cloud_in" value="$(arg cloud_in)" />
  </include>
  <node name="topomap_files_server" pkg="infobot_topo_store" type="topo_store" output="screen">
    <param name="topomap_files_dirpath" value="$(arg topomap_files_dirpath)" />
  </node>

  <!-- FindViewpoint Related -->
  <node name="image_server" pkg="infobot_image_server" type="image_server_node" output="screen">
    <param name="output_files_dirpath" value="$(arg output_files_dirpath)"/>

    <remap from="image" to="$(arg image_topic)"/>
  </node>
  <node name="pmap_to_octomap" pkg="infobot_find_viewpoint" type="pmap_to_octomap" output="screen"/>
  <node name="visibility_reasoner" pkg="infobot_find_viewpoint" type="visibility_reasoner" output="screen">
    <param name="fov_grid_res" value="$(arg fov_grid_res)"/>
    <param name="dist_factor" value="$(arg dist_factor)"/>
  </node>
  <node name="find_viewpoint" pkg="infobot_find_viewpoint" type="find_viewpoint_node" output="screen">
    <param name="rect_filter_margin" value="$(arg rect_filter_margin)"/>
    <param name="camera_trans_z" value="$(arg camera_trans_z)"/>
    <param name="max_iter" value="$(arg max_iter)"/>
  </node>

</launch>
