#! /usr/bin/env python

PACKAGE = "infobot_find_viewpoint"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# NOTE: double_t for python dynamic requires setting min/max. Otherwise it will try to convert 'std::numeric_limits<double>::infinity()' to float and cause crash.
gen.add("camera_trans_z",      double_t, 1, "z (height) value that will be used for compute_vis_value(s) srv.", 1.5, -1000.0, 1000.0)
gen.add("rect_filter_margin",  double_t, 1, "margin for filtering poses extracted from topomap.",               5.0,     0.0, 1000.0)
gen.add("max_iter",            int_t,    1, "max iteration number for find viewpoint main loop.",                 5,       0,  100)
gen.add("max_move_base_iter",  int_t,    1, "max iteration number for retrying move base.",                       5,       0,  100)
gen.add("move_base_filter_margin", double_t, 1, "margin for filtering poses given the unreachable pose.",       2.5,     0.0, 1000.0)

exit(gen.generate(PACKAGE, "infobot_find_viewpoint", "InfoBotFindViewpoint"))
