<?xml version="1.0"?>
<launch>

  <!-- seed position: 0.0 0.0 0.0 -->

  <arg name="vis_level" default="0"/>

  <rosparam param="use_sim_time">false</rosparam>

  <include file="$(find infobot_topo_mapping)/launch/extract_topology.launch">
    <arg name="vis_level" value="$(arg vis_level)"/>
    <arg name="param_file" value="$(find infobot_topo_mapping)/test/sim-params.yaml"/>
    <arg name="metric_map_file" value="$(find infobot_uw_world)/maps/sim-simple.yaml"/>
    <arg name="topo_map_file" value="$(find infobot_uw_world)/topomaps/sim-simple-topo.yaml"/>
  </include>

</launch>
