<?xml version="1.0"?>
<launch>

  <!-- seed position: 5.52595 7.97241 -1.46656 -->
  <!-- NOTE: Temporarily change door colors (dark gray) in infobot_uw_world/maps/partial/sim-simple_corridor.pgm to black for algorithm to treat doors as walls (has an effect on thinning algorithm). -->

  <arg name="vis_level" default="0"/>

  <rosparam param="use_sim_time">false</rosparam>

  <include file="$(find infobot_topo_mapping)/launch/extract_topology.launch">
    <arg name="vis_level" value="$(arg vis_level)"/>
    <arg name="param_file" value="$(find infobot_topo_mapping)/test/sim-params.yaml"/>
    <arg name="metric_map_file" value="$(find infobot_uw_world)/maps/partial/sim-simple_corridor.yaml"/>
    <arg name="topo_map_file" value="$(find infobot_uw_world)/topomaps/sim-simple_corridor-topo.yaml"/>
  </include>

</launch>
