<?xml version="1.0"?>
<launch>

    <arg name="gdb" default="false"/>
    <arg name="vis_level" default="1"/>

    <rosparam param="use_sim_time">false</rosparam>

    <include file="$(find infobot_topo_mapping)/launch/extract_topology.launch">
        <arg name="metric_map_file" value="$(find infobot_topo_mapping)/test/real-floor4.yaml"/>
        <arg name="topo_map_file" value="$(find infobot_topo_mapping)/test/real-floor4-topo.yaml"/>
        <arg name="param_file" value="$(find infobot_topo_mapping)/test/params.yaml"/>
        <arg name="vis_level" value="$(arg vis_level)"/>
        <arg name="gdb" value="$(arg gdb)"/>
    </include>

</launch>
