<?xml version="1.0" ?>
<launch>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="/odom" />

  <arg name="move_base_param_file" default="$(find infobot_move_base)/param/move_base_params.yaml" />
  <arg name="costmap_common_param_file" default="$(find infobot_move_base)/param/costmap_common_params.yaml"/>
  <arg name="costmap_local_param_file" default="$(find infobot_move_base)/param/costmap_local_params.yaml"/>
  <arg name="costmap_global_param_file" default="$(find infobot_move_base)/param/costmap_global_params.yaml"/>
  <arg name="local_planner_param_file" default="$(find infobot_move_base)/param/base_local_planner_params.yaml"/>
  <arg name="navfn_global_planner_param_file" default="$(find infobot_move_base)/param/navfn_global_planner_params.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(arg move_base_param_file)" command="load" />
    <rosparam file="$(arg costmap_common_param_file)" command="load" ns="global_costmap" />
    <rosparam file="$(arg costmap_common_param_file)" command="load" ns="local_costmap" />
    <rosparam file="$(arg costmap_local_param_file)" command="load" />
    <rosparam file="$(arg costmap_global_param_file)" command="load" />
    <rosparam file="$(arg local_planner_param_file)" command="load" />
    <rosparam file="$(arg navfn_global_planner_param_file)" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>

</launch>

