<launch>

  <arg name="map_name"/>

  <arg name="exclude_sim" default="false" />
  <arg name="exclude_rviz" default="false" />


  <!-- Simulation -->
  <include file="$(find infobot_uw_morse)/launch/simple.launch" unless="$(arg exclude_sim)">
    <arg name="use_joystick" value="false" />
  </include>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find infobot_find_viewpoint)/test/compute_vis.rviz" unless="$(arg exclude_rviz)"/>

  <!-- FindViewpoint -->
  <include file="$(find infobot_find_viewpoint)/launch/find_viewpoint.launch">
    <arg name="pmap_files_dirpath" value="$(find infobot_uw_world)/pmaps" />
    <arg name="octomap_files_dirpath" value="$(find infobot_uw_world)/octomaps" />
    <arg name="topomap_files_dirpath" value="$(find infobot_uw_world)/topomaps" />

    <!-- prosilica hfov & vfov -->
    <arg name="horizontal_angle_of_view" value="1.68947872"/>
    <arg name="vertical_angle_of_view" value="1.38579143"/>
    <arg name="fov_grid_res" value="100" />
    <arg name="dist_factor_a" value="0.01"/>
    <arg name="dist_factor_b" value="7.0"/>
    <arg name="ang_factor" value="1.0"/>

    <arg name="camera_trans_z" default="1.314"/>
    <arg name="rect_filter_margin" default="1.5"/>
    <arg name="max_iter" default="5"/>
    <arg name="max_move_base_iter" default="5"/>
    <arg name="move_base_filter_margin" default="0.5"/>
  </include>

</launch>
