<launch>

  <arg name="exclude_sim" value="false" />

  <!-- Simulation -->
  <include file="$(find infobot_uw_morse)/launch/simple.launch" unless="$(arg exclude_sim)">

  </include>

  <!-- FindViewpoint -->
  <include file="$(find infobot_octomap_store)/launch/octomap_store.launch">
    <arg name="map_files_server" value="$(find infobot_find_viewpoint)/test" />
    <arg name="pmap_files_server" value="$(find infobot_find_viewpoint)/test" />
    <arg name="octomap_files_server" value="$(find infobot_find_viewpoint)/test" />
    <arg name="topomap_files_server" value="$(find infobot_find_viewpoint)/test" />
  </include>

</launch>
