<launch>

  <arg name="map_name"/>

  <arg name="image_in" default="/prosilica_vga/image_rect_color"/>
  <arg name="output_files_dirpath" default="$(env HOME)"/>

  <arg name="exclude_sim" default="false" />
  <arg name="exclude_nav" default="false" />
  <arg name="exclude_rviz" default="false" />

  <rosparam param="/visibility_reasoner/fov_grid_res">10</rosparam>


  <!-- Simulation -->
  <include file="$(find infobot_uw_morse)/launch/simple.launch" unless="$(arg exclude_sim)">
    <arg name="use_joystick" value="false" />
  </include>

  <!-- Navigation -->
  <include file="$(find infobot_uw_systems)/launch/navigation.launch" unless="$(arg exclude_nav)">
    <arg name="map_name" value="$(arg map_name)" />
  </include>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find infobot_find_viewpoint)/test/find_viewpoint.rviz" unless="$(arg exclude_rviz)"/>

  <!-- FindViewpoint -->
  <include file="$(find infobot_find_viewpoint)/launch/find_viewpoint.launch">
    <arg name="map_files_dirpath" value="$(find infobot_uw_world)/maps" />
    <arg name="pmap_files_dirpath" value="$(find infobot_uw_world)/pmaps" />
    <arg name="octomap_files_dirpath" value="$(find infobot_uw_world)/octomaps" />
    <arg name="topomap_files_dirpath" value="$(find infobot_uw_world)/topomaps" />

    <arg name="image_in" value="$(arg image_in)"/>
    <arg name="output_files_dirpath" value="$(arg output_files_dirpath)"/>
  </include>

</launch>
