<?xml version="1.0" ?>
<launch>

  <node name="map_files_server" pkg="infobot_map_store" type="map_files_server_node" output="screen">
    <param name="map_files_dirpath" value="$(find infobot_find_viewpoint)/test" />
  </node>
  <node name="pmap_files_server" pkg="infobot_pmap_store" type="pmap_files_server_node" output="screen">
    <param name="pmap_files_dirpath" value="$(find infobot_find_viewpoint)/test" />
  </node>
  <include file="$(find infobot_octomap_store)/launch/octomap_store.launch">
    <arg name="octomap_files_dirpath" value="$(find infobot_find_viewpoint)/test" />
    <arg name="cloud_in" value="cloud_in" />
  </include>
  <node name="topomap_files_server" pkg="infobot_topo_store" type="topo_store" output="screen">
    <param name="topomap_files_dirpath" value="$(find infobot_find_viewpoint)/test" />
  </node>

  <node name="pmap_to_octomap" pkg="infobot_pmap_to_octomap" type="pmap_to_octomap" output="screen"/>

  <node name="visibility_reasoner" pkg="infobot_find_viewpoint" type="visibility_reasoner" output="screen"/>

</launch>
